<!DOCTYPE html>
<html>

{% block javascript %}
<script type="text/javascript">
  {% include "gamepad.js" %}
</script>
<!-- The contents of myscript.js will be loaded inside the script tag -->
{% endblock %}

<head>
  <style>
    p,
    button {
      max-width: 50ch;
      font-family: Roboto, Arial, sans-serif;
      font-size: 1.125rem;
      line-height: 1.5em;
    }

    button {
      color: white;
      background: #369;
      border: 0;
      padding: 0.5rem 1rem;
    }

    button:hover {
      background: #136;
    }

    #amdfc-controller {
      position: fixed !important;
      bottom: 1vmin;
      right: 1vmin;
      max-width: 350px;
      width: 40vw;
    }
  </style>
  <title>Lionfish Dispatcher - Surveillance Camera</title>
</head>

<body>
  <center>
    <h1>Lionfish Dispatcher - Surveillance Camera</h1>
  </center>
  <center><img src="http://192.168.4.38:7000/stream.mjpg" width="640" height="480"></center>
</body>
<!-- <button onclick="moveLeft()">left</button>
<button onclick="moveRight()">right</button> -->

</html>