<!DOCTYPE html>
<html>

{% block javascript %}
<script type="text/javascript">
  {% include "gamepad.js" %}
</script>
<!-- The contents of myscript.js will be loaded inside the script tag -->
{% endblock %}

<head>
  <style>
    p {
      display: inline;
    }
    .column {
      float: left;
      width: 20vw;
    }
    .box {
      outline-style: solid;
      float: left;
      width: 20vw;
    }

    .data {
      display: inline;
    }
  </style>
  <title>Lionfish Dispatcher - Surveillance Camera</title>
</head>

<body>
  <center>
    <h1>Lionfish Dispatcher - Surveillance Camera</h1>
  </center>
  <center><img src="http://169.254.127.13:7000/stream.mjpg" width="640" height="480"></center>
  <div id="gamepadStatus">Gamepad Not Detected</div>
  <div class="column">
    <div class="box">
      <p>Leak (1 is leak detected)</p>
      <p class="data" id="Leak">?</p>
    </div>
    <div class="box" id="CurrentMode"></div>
  </div>

  <fieldset>
    <legend style="float:left">Please select Mode:</legend>

      <input type="radio" id="Controller" value="Controller" name="Mode" checked="checked">
      <label for="Controller">Controller</label><br>
      <input type="radio" id="AutoDepth" name="Mode" value="AutoDepth">
      <label for="AutoDepth">AutoDepth</label><br>
      <input type="radio" id="AutoHeading" name="Mode" value="AutoHeading">
      <label for="AutoHeading">AutoHeading</label>

  </fieldset>
  <fieldset>
    <legend>AutoDepth:</legend>
    <input id="depth" type="number" value="0"  min="0"/>
    <label for="depthOn">Turn On AutoDepth</label>
    <input  id="depthOn" type="checkbox" />
  </fieldset>
</body>

</html>